.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.userCard{

  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  background-color: firebrick;
  color: white;
  border: 2px solid black;

}


h2{
  font-size: 2rem;
}

img{
  border: 1px solid black;
}

.userInfo{
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 

}

.key{
 font-weight: 600;
 font-size: 1.2rem;
 font-style: italic;
}

p{
  display: flex;
  justify-content:space-between;
}